/*DESKTOP*/
/*Theme 1*/
*{
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body{
    background: hsl(222, 26%, 31%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    font-family: 'League Spartan', sans-serif;
}

.title-container{
    margin: 100px 0 33px;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.themes-number{
    font-size: 12px;
    letter-spacing: 7px;
    margin: 0 0 5px;
}

.switch-container{
    display: flex;
    align-items: center;
    font-size: 13px;
}

.switch-numbers{
    margin: 0 0 0 27px;
}

.themes-numbers{
    display: flex;
    justify-content: space-around;
    margin: 0 0 5px;
}

#switch {
    -webkit-appearance: none;
    width: 61px;
    height: 16px;
    background: hsl(223, 31%, 20%);
    border-radius: 15px;
    padding: 5px;
    outline: none;
}

#switch::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: hsl(6, 63%, 50%);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    cursor: pointer;
}

#screen-input{
    width: 470px;
    height: 128px;
    background: hsl(224, 36%, 15%);
    color: hsl(0, 0%, 100%);
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 55px;
    text-align: right;
    padding: 0 35px;
    margin: 0 0 25px;
}

.keypad-container{
    background: hsl(223, 31%, 20%);
    border-radius: 10px;
    width: 502px;
    padding: 32px 19px 10px;
    text-align: center;
}

.key {
    background: hsl(30, 25%, 89%);
    border: none;
    border-radius: 10px;
    width: 101px;
    height: 60px;
    color: hsl(221, 14%, 31%);
    font-size: 41px;
    box-shadow: 0 4px hsl(28, 16%, 65%);
    margin: 0 10px 26px;
    cursor: pointer;
    outline: none;
    padding: 4px 0 0;
}

.key:active {
    filter: brightness(1.2);
}

.delete{
    font-size: 28px;
    background: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0 4px hsl(224, 28%, 35%);
}

.reset{
    font-size: 28px;
    width: 227px;
    background: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0 4px hsl(224, 28%, 35%);
}

.equal{
    font-size: 28px;
    width: 227px;
    background: hsl(6, 63%, 50%);
    color: hsl(0, 0%, 100%);
    box-shadow: 0 4px hsl(6, 70%, 34%);
}

.footer{
    display: grid;
    place-items: center;
    background: hsl(224, 36%, 15%);
    color: whitesmoke;
    height: 50px;
    font-size: 14px;
    margin: 250px 0 0;
}

a{
    color: cadetblue;
}

/*MOBILE*/
@media (max-width: 600px) {

    .title-container{
        margin: 0 0 37px;
    }

    #screen-input{
        width: 281px;
        height: 88px;
        padding: 0 23px;
        margin: 0 0 24px;
        font-size: 41px;
    }

    .keypad-container{
        width: 319px;
        padding: 24px 4px 11px;
    }

    .key {
        width: 60px;
        height: 60px;
        margin: 0 6px 17px;
        border-radius: 5px;
        font-size: 34px;
    }

    .delete{
        font-size: 20px;
    }
    
    .reset{
        font-size: 20px;
        width: 133px;
    }
    
    .equal{
        font-size: 20px;
        width: 133px;
    }
}